-pages = ['inicio', 'nosotros', 'servicios', 'portafolio', 'contacto']
-pageTitle = 'Inicio'
-currentPage = 'inicio'
-siteTitle = 'Su Barberia Luis Moreno'
-description = 'Bienvenidos al sitio web de Su Barberia Luis Moreno'
-siguenos = true