.siguenos  
    a(href="http://facebook.com").icon-facebook-1 Siguenos en Facebook
    a(href="http://instagram.com").icon-instagram Siguenos en Instagram 
    a(href="http://twitter.com").icon-twitter Siguenos en Twitter