:root {
    --azul: #006ba8;
    --link: #00a0eb;
    --gris: #777777;
    --texto: #444;
}

/*BASE SMACSS */

body {
    line-height: 1.5;
    color: var(--texto);
}
a {
    color: #00a0eb;
}

/* LAYOUT */
.main-sidebar {
    margin-top: 2em;
}

.main-content {
    padding: 0 1em;
}

@media screen and (min-width: 768px) {
    .main-content {
        display: flex;
        padding-right: 2em;
    }

    .main-sidebar {
        width: 25%;
        padding-left: 1em;

    }

    main {
        width: 75%;
    }
}

@media screen and (min-width: 1024px) {
    .main-content {
    max-width: 1024px;
    margin: auto;
    }
}

.logo {
    width: 140px;
    display: block;
    margin: 1em auto;
}


/*HEADER*/
.menu {
    background: var(--azul);
    padding: .5em 0;
}

.menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 0 auto;
    list-style: none;
    padding-left: 0;
}

.menu li {
    margin: 0 .5em 
}

.menu a {
    text-transform: uppercase;
    font-size: .8em;
    color: #fff;
    line-height: 2;
}

@media screen and (min-width: 640px) {
    .menu li {
        margin : 0 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    .menu  {
        background: none;
        margin-left: auto;
    }

    .menu li {
        margin : 0 .5em;
    }

    .menu a {
        color: var(--azul);
        display: block;
        line-height: 2.5;
        padding: 0 1em;
    }

    .menu a:hover,
    .menu a.active {
        background: var(--azul);
        color: #fff;
        text-decoration: none;
    }

    .main-header {
        max-width: 1024px;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 0 1em;
    }
}

/*FIN HEADER*/

h1 {
    color: var(--azul);
}

footer {
    background: #222;
    color: #ddd;
    padding: 1em;
    margin-top: 3em;
    text-align: center;
}

footer a {
    color: #fff;

}

.siguenos {
    border-top: 1px solid var(--gris);
    padding-top: 1em;
}

.siguenos a {
    font-size: .9em;
    display: block;
}

.siguenos a:before {
    display: inline-block;
    margin-right: .3em;
}

@media screen and (min-width: 768px) {
    .main-footer .siguenos {
        display: flex;
        justify-content: space-around;
        
    }

    .main-footer .siguenos a {
        margin : 0 2em;
    }

    .siguenos {
        border-top: none;
        padding-top: 0; 
    }

}

