extends templates/template

append config 
    -pageTitle='Portafolio'
    -description='Cortes de cabello que se puede realizar en Su Barberia Luis Moreno'
    -currentPage = 'portafolio'

block main 
    h1 Portafolio
    p En su barberia Luis Moreno realizamos todos los cortes de cabbelo que usted desee, ademas de mascarillas, manicure y pedicure.

