extends templates/template

append config 
    -pageTitle = 'Servicios'
    -description = 'Acerca de Su Barberia Luis Moreno'
    -currentPage = 'servicios'

block main 
    h1 Servicios 
    p Su barberia Luis Moreno fue fundada en 17 de junio de 1974 por Don luis... 

