body {
  font-family: helvetica, sans-serif;
}

.white {
  color: #fff;
}

.gray {
  color: #515f67;
}

.gray2 {
  color: #8c9498;
}

.nav {
  background-color: #293137;
}

.menu {
  color: #fff;
  padding-top: 40px;
}

.menu > li {
  font-size: 20px;
  padding-right: 10px;
  -webkit-transition: 0.3s color ease-in-out;
  -moz-transition: transition: 0.3s color ease-in-out;
  -o-transition: transition: 0.3s color ease-in-out;
}

.menu li:hover {
  color: #2b8bd2;
  -webkit-transition: 0.3s color ease-in-out;
  -moz-transition: transition: 0.3s color ease-in-out;
  -o-transition: transition: 0.3s color ease-in-out;
}

header {
  background-image:url('../images/header.jpg');
  background-position: center center;
  background-size: cover;
  height: 586px;
  width: 100%;
}

.header-title {
  background-color: #2f3539;
  color: #fff;
  font-size: 65px;
  font-weight: bold;
  margin: auto;
  text-transform: uppercase;
  width: 700px;
}

.header-subtitle {
  background-color: #2b8bd2;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  font-weight: 100;
  margin: 50px auto 0 auto;
  width: 450px;
}

.call-to-action {
  background-color: #e25b40;
  height: 213px;
  width: 100%;
}

.section-title {
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
}

.intro > p {
  color: #fff;
}

.call-button {
  color: #fff;
  border: 5px solid #fff;
  font-size: 30px;
  padding: 10px 30px;
  text-transform: uppercase;
}

.right {
  text-align: center;
  padding-top: 60px;
}

.intro p {
  color: #fff;
  font-weight: 100;
  line-height: 40px;
  margin-top: 10px;
  font-size: 25px;
}

.column {
  float: left;
  width: 50%;
}

.column img {
  margin: auto;
  max-width: 80%;
  opacity: 0.7;
  padding-bottom: 80px;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: transform: scale(0.7);
  -o-transform: transform: scale(0.7);
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: transition: 0.3s all ease-in-out 0s;
  -o-transition: transition: 0.3s all ease-in-out 0s;
}

.column img:hover {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: transform: scale(1);
  -o-transform: transform: scale(1);
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: transition: 0.3s all ease-in-out 0s;
  -o-transition: transition: 0.3s all ease-in-out 0s;
}

.column img:bigger {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: transform: scale(1);
  -o-transform: transform: scale(1);
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  -moz-transition: transition: 0.3s all ease-in-out 0s;
  -o-transition: transition: 0.3s all ease-in-out 0s;
}

.testimonials {
  background-color: #ebebeb;
  height: 180px;
}

.testimonials p {
  color: #8c9498;
  font-size: 20px;
  line-height: 30px;
}

.map {
  background-color: #353f47;
  background-image: url('../images/map.png');
  background-size: cover;
  height: 586px;
}

footer {
  background-color: #191a22;
  height: 100px;
}

.footer-menu {
  padding-top: 30px;
}

.footer-menu li {
  color: #fff;
  font-size: 13px;
  font-weight: 100;
  display: inline-block;
  padding-right: 10px;
}
